
._container   {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: center;
}

.top {
    height: 50vh;
    flex-flow: column;
    background-color: rgb(6, 59, 9);
}
.mid {
    height: 45vh;
    flex-flow: column;
}
.bot {
    height: 5vh;
}

.card_container {
    display: inline-flex;
    justify-content: center;
    flex-flow: row;
    width: 100%;
    max-height: 45vh;
    margin: auto;
    gap: 50px;
}

.btncomm {
    margin-block: auto;
}

.pocket {
    width: auto;
}