
.borderwin {
	margin: 1px;
	padding: 0;
	height: 15vh;
	border-width: medium;
	border-style: outset;
	border-color: yellow;
}

/* this is so the position will be 
aligned with an added border of a winning card */
.notwinning {
	margin: 1px;
	padding: 0;
	height: 15vh;
	border-width: medium;
	border-style: outset;
	border-color: rgba(0, 0, 0, .05);
}
		