


.best_card_in_hand {
	margin: 1px;
	padding: 0;
	height: 20vh;
	border-width: medium;
	border-style: outset;
	border-color: yellow;
}

/* this is so the position will be 
aligned with an added border of a winning card */
.dummy_border {
	margin: 1px;
	padding: 0;
	height: 20vh;
	border-width: medium;
	border-style: outset;
	border-color: rgba(0, 0, 0, .05);
}

.cardicons_b {
	font-size: 46px;
	color: black;
}
  
.cardicons_r {
	font-size: 46px;
	color: red;
}

/*  css for card suits
card::before{content:attr(data-rank)}
.spades::after{content:"\2660"}
.hearts::after{content:"\2665";color:red}
.diamonds::after{content:"\2666";color:red}
.clubs::after{content:"\2663"}
<span data-rank="7" class="card spades"></span>
<span data-rank="7" class="card clubs"></span>
<span data-rank="6" class="card diamonds"></span>
<span data-rank="K" class="card hearts"></span> */