
.drawContainer {
    /* margin: 3%; */
    display: flex;
    border-radius: 5px;
    border-color: rgb(7, 7, 7);
    border-width: medium;
    border-style: groove;
    overflow-x: auto;
    padding: 8px;
    overflow-y: hidden;
}

.flopBox {
    min-width: 70vw;
    height: 22vh;
    justify-content: center;
}

.pocketBox {
    min-width: 90%;
    height: 21vh;
    width: 30vw;
    margin-bottom: 5px;
    justify-content: center;
}


/*  css for card suits
card::before{content:attr(data-rank)}
.spades::after{content:"\2660"}
.hearts::after{content:"\2665";color:red}
.diamonds::after{content:"\2666";color:red}
.clubs::after{content:"\2663"}
<span data-rank="7" class="card spades"></span>
<span data-rank="7" class="card clubs"></span>
<span data-rank="6" class="card diamonds"></span>
<span data-rank="K" class="card hearts"></span> */